<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav">
        {% if current_user %}
        <ul class="navbar-nav me-auto">
          <li class="nav-item {% if request.path == url_for('group') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('group') }}">Groups</a>
          </li>
          <li class="nav-item {% if request.path == url_for('bills', group_id=group_id) %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('bills', group_id=group_id) }}">Bills</a>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item {% if request.path == url_for('login') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item {% if request.path == url_for('register') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container mt-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% for message in messages %}
      <div>{{ message }}</div>
      {% endfor %}

    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

</body>

</html>